.rectangulo {
    display: flex;
    border-radius: 5px;
    background-color: rgb(2, 156, 120);
    width: 20px;
    padding: 5px;
    align-self: center;
}

.porcentaje {
    display: flex;
    border-radius: 5px;
    background-color: rgb(2, 81, 62);
    min-height: 20px;
    align-self: center;
    align-items: center;
    justify-content: center;
}